<!-- This is what you'll use to test your html code. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Area</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../index.css" />
    <!-- LEAVE ALL THE CODE ABOVE ALONE -->

    <!-- Change this to the actual css file -->
    <link rel="stylesheet" href="Navbar.css" />
  </head>
  <body>
    <!-- Write your html here (or paste from jsx) -->

    <!-- LEAVE THIS SCRIPT ALONE -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </body>
</html>
