@import "tailwindcss";

:root {
  --main: #ffefdf;
  --accent: #5d0000;
}

#root {
  height: 100%;
}

.libre {
  font-family: "Libre Baskerville", serif;
}

.poppins {
  font-family: "Poppins", serif;
}

body {
  background-color: var(--main) !important;
}

/* Hide scrollbars visually but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
